// iconfont
@import '../assets/fonts/iconfont.css';

// swiper.css
@import '../../node_modules/swiper/css/swiper.min.css';

// animate.css
@import '../../node_modules/animate.css/animate.min.css';

/* reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form {
  margin: 0;
  font-family: 'MONTSERRAT-LIGHT', '微软雅黑';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
}

input,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
}

select {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

input,
textarea {
  font-family: Arial, '微软雅黑';
  outline: 0;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  background: 0 0;
}

button {
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
}

::placeholder {
  color: #fff;
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

.clearfix {
  zoom: 1;
}

.fw {
  margin: 0 auto;
  width: 1180px;
}

.hide {
  display: none;
}

.obHide {
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 99;
}

.show {
  display: block;
}

.fa {
  color: inherit;
  line-height: inherit;
}

.flex_bc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

.wow {
  animation-name: fadeInUp;
  visibility: hidden;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

a.link_box {
  display: block;
}

span.text,
i.iconfont {
  display: inline-block;
  vertical-align: top;
}

html {
  width: 100vw;
}

body {
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  outline: none;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #333;
  margin-right: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 20px;
}

@font-face {
  font-family: 'POPPINS-BOLD';
  src: url('../assets/fonts/POPPINS-BOLD.ttf') format('truetype');
}

// sass
$colorVi: #34cd8b;
$colorBtn: #fa5051;
$colorTitle: #392f41;
$colorSubTitle: #392f41;
$colorNav: #bcd9ff;
$colorCategory: #a6a6a6;
$colorDes: #a6a6a6;
$colorTransparent: rgba(255, 255, 255, 0);

$minWidth: 1200px;

$transition1: all 0.3s ease-out 0s;
$transition2: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
$transition3: all cubic-bezier(0.16, 0.57, 0, 0.76) 0.3s;

@mixin font($size: 24px, $height: 48px, $color: #fff) {
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin rowEllipsis($row, $lineHeight) {
  overflow: hidden;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
  height: $row * $lineHeight;
}

@mixin query($max, $min: 1280px) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin picCult($paddingTop) {
  .item_img {
    position: relative;
    overflow: hidden;
    padding-top: $paddingTop;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

// 默认 transition
@mixin normalTran($style: all, $time: 0.36s, $method: ease, $delay: 0s) {
  transition: $style $time $method $delay;
}

@mixin designWidth($width: 1720px, $minWidth: 1200px) {
  width: vw($width);
  min-width: $minWidth;
  margin: 0 auto;
}

// 字体图标
@mixin iconFont($content: null, $family: iconfont) {
  @if $content {
    content: $content;
  }
  font-family: $family;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@function vw($px-vw, $base-vw: 1920px) {
  @return (($px-vw) * 100vw) / $base-vw;
}

.swiper-button {
  margin: 0;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  color: #fff;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: $transition2;
  &:hover {
    border-color: $colorTransparent;
    &::before {
      width: 100%;
      height: 100%;
    }
    &.swiper-button-prev {
      .iconfont {
        &::before {
          transform: translate(-100%, 0px);
          opacity: 0;
        }
        &::after {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
    &.swiper-button-next {
      .iconfont {
        &::before {
          transform: translate(100%, 0px);
          opacity: 0;
        }
        &::after {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
  }
  &::after {
    display: none;
  }
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-radius: inherit;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition2;
  }
  &-prev {
    .iconfont {
      &::after {
        @include iconFont('\e703');
        transform: translate(60px, -50%);
      }
    }
  }
  &-next {
    .iconfont::after {
      @include iconFont('\e71c');
      transform: translate(-60px, -50%);
    }
  }
  .iconfont {
    &::before {
      display: block;
      transition: $transition2;
      font-size: 12px;
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #002157;
      transition: $transition2;
      font-size: 14px;
      opacity: 0;
    }
  }
}

.swiper-pagination {
  pointer-events: none;
}

body {
  background-color: #010326;
}

svg {
  .st0 {
    fill: #fff;
  }
  .st1 {
    fill: #1977f6;
  }
}

#header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  transition: $transition2;
  &.mini {
    background-color: #11145b;
    .header-wrapper {
      padding: 0;
    }
  }
  .header-wrapper {
    @include designWidth;
    padding: 26px 0;
    transition: $transition2;
  }
  .logo {
    width: vw(125px);
    height: 82px;
    position: relative;
    display: block;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .nav-content {
    display: flex;
    align-items: center;
  }
  .nav {
    .nav-item {
      @include font(16px, 82px, rgba(#fff, 0.8));
      float: left;
      padding: 0 vw(33px);
      position: relative;
      overflow: hidden;
      &:hover {
        overflow: initial;
        .subnav {
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
      &:last-child {
        padding-right: 45px;
      }
      a {
        position: relative;
        transition: $transition2;
        &.active,
        &:hover {
          color: #1977f6;
          &::after {
            opacity: 1;
          }
        }
        &::after {
          content: '';
          width: 4px;
          height: 4px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 8px 1px #3ac0ff;
          position: absolute;
          top: 4px;
          right: -10px;
          transition: $transition2;
          opacity: 0;
        }
      }
      .subnav {
        min-width: 140px;
        padding: 23px 56px;
        border-radius: 10px;
        background-color: rgba(#000, 0.4);
        box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 140%;
        left: -37px;
        opacity: 0;
        visibility: hidden;
        transition: $transition1;
        display: flex;
        &::before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7px 6px 7px;
          border-color: transparent transparent rgba(#000, 0.2) transparent;
          position: absolute;
          top: -6px;
          left: 98px;
        }
        .item-subnav {
          &:not(:last-child) {
            margin-right: 110px;
          }
          a {
            display: block;
            position: relative;
            @include font(14px, 48px, rgba(#fff, 0.6));
            transition: $transition2;
            white-space: nowrap;
            padding-left: 14px;
            &:hover,
            &.active {
              color: #1977f6;
              &::after {
                background-color: #fff;
                box-shadow: 0 0 8px 1px #3ac0ff;
              }
            }
            &::after {
              opacity: 1;
              top: 22px;
              left: 0;
              box-shadow: none;
              background-color: rgba(#fff, 0.6);
            }
          }
        }
      }
    }
  }
  .dropDown {
    width: 74px;
    text-align: center;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      overflow: initial;
      .current_select {
        border-color: #fff;
        color: #fff;
      }
      .options {
        top: 44px;
        opacity: 1;
        visibility: visible;
      }
    }
    &::before {
      content: '';
      width: 1px;
      height: 12px;
      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      top: 8px;
      left: 0;
    }
    .current_select {
      border: 2px solid rgba(#fff, 0.3);
      border-radius: 35px;
      @include font(12px, 24px, rgba(#fff, 0.5));
      transition: $transition2;
      .text {
        margin: 0 2px;
      }
      .iconfont {
        font-size: 14px;
        transform: translateY(1px);
      }
      &::after {
        content: '';
        width: 74px;
        height: 44px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .options {
      min-width: 140px;
      padding: 22px 24px 28px 35px;
      border-radius: 10px;
      background-color: rgba(#000, 0.2);
      box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 60px;
      left: -13px;
      opacity: 0;
      visibility: hidden;
      transition: $transition2;
      &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 6px 7px;
        border-color: transparent transparent rgba(#000, 0.2) transparent;
        position: absolute;
        top: -6px;
        left: calc(50% - 7px);
      }
      .option {
        @include font(13px, 40px, #a4badf);
        display: flex;
        justify-content: space-between;
        transition: $transition2;
        .iconfont {
          opacity: 0;
          transition: $transition2;
        }
        &.active,
        &:hover {
          color: #fff;
          .iconfont {
            opacity: 1;
          }
        }
      }
    }
  }
}

#footer {
  @include font(13px, 26px, rgba(113, 121, 171, 0.5));
  position: absolute;
  bottom: 26px;
}

.body-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #010326;
  .inner-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateY(100%);
    background: #003ead;
  }
  .mask-logo {
    width: vw(1720px);
    min-width: $minWidth;
    margin: 0 auto;
    mix-blend-mode: screen;
    svg {
      width: vw(125px);
      height: 134px;
    }
  }
}

.module-mask {
  width: vw(1720px);
  min-width: $minWidth;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 1;
  .line1,
  .line2,
  .line3 {
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    &::before {
      content: '';
      width: 31px;
      height: 120px;
      background-image: url(../assets/images/streamer.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -16px;
      animation: halo 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    }
  }
  .line1 {
    left: 25%;
    &::before {
      animation-delay: 0.6s;
    }
  }
  .line2 {
    left: 50%;
  }
  .line3 {
    left: 75%;
    &::before {
      animation-delay: 1s;
    }
  }
}

.down_dot {
  width: 2px;
  height: 26px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 100;
  .dot {
    display: block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 4px;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation: downDot#{$i} 1.5s linear infinite;
      }
    }
  }
}
.module-control {
  position: fixed;
  top: vw(345px);
  right: 0;
  .moduleCItem {
    display: block;
    @include font(13px, 51px, #9b9dbc);
    padding-left: 16px;
    position: relative;
    width: vw(222px);
    transition: $transition2;
    &:hover,
    &.active {
      color: #1b80ff;
      &::before {
        opacity: 1;
      }
      &::after {
        width: 100%;
      }
    }
    &::before {
      content: '';
      width: 4px;
      height: 4px;
      background-color: #99f0ff;
      border-radius: 50%;
      box-shadow: 0 0 10px 2px #169fff;
      opacity: 0;
      position: absolute;
      top: 49%;
      left: 0;
      transition: $transition2;
    }
    &::after {
      content: '';
      width: 0;
      height: 1px;
      background-image: linear-gradient(
        90deg,
        rgba(87, 89, 136, 0.7),
        rgba(255, 255, 255, 0) 100%
      );
      position: absolute;
      left: 0;
      bottom: 0;
      transition: $transition2;
    }
  }
  .try_btn {
    margin-top: vw(90px);
    width: 124px;
    @include font(14px, 40px, #fff);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 21px;
    position: relative;
    overflow: hidden;
    transition: $transition2;
    &::after {
      content: '';
      width: 124px;
      height: 124px;
      border-radius: 50%;
      background-color: #1977f6;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: -1;
      transition: $transition2;
    }
    &:hover {
      color: #fff;
      border-color: $colorTransparent;
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.bodyindex {
  .site-content {
    height: 100vh;
    position: relative;
    z-index: 1;
    transform: scale(1);
    transform-origin: 25% 50%;
    transition: transform 0.7s cubic-bezier(0.25, 0, 0.25, 1);
    background-color: #070c44;
  }
  .indexPage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .lock-screen {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  &.open_control {
    .site-content {
      transform: scale(0.79);
    }
    .lock-screen {
      display: block;
    }
  }
  .menu_btn {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: vw(82px);
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    @media screen and (max-width: 1280px) {
      right: 60px;
    }
    &::after {
      content: '';
      width: 300%;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .dot {
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 0;
      left: 0;
      &:nth-child(-n + 2) {
        top: 0;
      }
      &:nth-child(n + 3) {
        top: 100%;
      }
      &:nth-child(even) {
        left: 100%;
      }
      &:nth-child(n + 5) {
        top: 50%;
        left: 50%;
        opacity: 0;
      }
      &:nth-child(-n + 4) {
        @include normalTran(all, 0.3s, ease, 0.36s);
      }
      &:nth-child(5) {
        @include normalTran(all, 0.3s);
      }
      &:nth-child(n + 6) {
        @include normalTran(all, 0.3s);
      }
    }
    &.menu_on {
      .dot {
        &:nth-child(-n + 4) {
          @include normalTran(all, 0.3s);
        }
        &:nth-child(n + 6) {
          @include normalTran(all, 0.3s, ease, 0.36s);
        }
        &:nth-child(-n + 4) {
          top: 50%;
          left: 50%;
        }
        &:nth-child(n + 6) {
          opacity: 1;
        }
        &:nth-child(6),
        &:nth-child(7) {
          top: 0;
        }
        &:nth-child(n + 8) {
          top: 100%;
        }
        &:nth-child(n + 6):nth-child(even) {
          left: 0;
        }
        &:nth-child(n + 6):nth-child(odd) {
          left: 100%;
        }
      }
    }
  }
  .module {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation-timing-function: in-out;
    box-sizing: border-box;
    &:not(.top-slider) {
      &::after {
        content: '';
        width: vw(600px);
        height: vw(600px);
        background-color: #0c36bf;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(300px);
        pointer-events: none;
      }
      .module_container {
        padding-top: vw(134px);
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
      }
    }
    .module-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
    &.pt-page-current {
      z-index: 100;
      visibility: visible;
      opacity: 1;
    }
    .module_container {
      @include designWidth;
    }
    .container_header {
      text-align: center;
      padding-top: 48px;
      position: relative;
      z-index: 10;
      .title {
        font-size: 34px;
        color: #fff;
        line-height: 1;
      }
    }
    .item_block {
      .more {
        width: 140px;
        height: 50px;
        @include font(15px, 50px);
        display: block;
        margin: 0 auto;
        border-radius: 25px;
        transition: $transition2;
        position: relative;
        z-index: 1;
        span.text {
          opacity: 0;
          transition: $transition2;
        }
        .iconfont {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: $transition2;
        }
      }
    }
  }
  .swiper-control {
    width: 214px;
    height: 50px;
    position: absolute;
    .swiper-button {
      top: 0;
      z-index: 1;
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
      }
    }
    .swiper-pagination {
      top: 0;
      font-size: 15px;
      line-height: 50px;
      color: rgba(#fff, 0.4);
      bottom: auto;
      &-current {
        color: #fff;
      }
      &-total {
        color: rgba(#fff, 0.5);
      }
    }
  }
}

//slider
.top-slider {
  background-color: #002157;
  .item_bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .swiper-control {
    right: vw(100px);
    bottom: vw(72px);
  }
  .info {
    position: absolute;
    top: 42%;
    left: vw(203px);
    z-index: 1;
    .title {
      position: relative;
      svg {
        width: 240px;
        height: 80px;
      }
    }
    .subtitle {
      @include font(50px, 64px);
    }
  }
  .try_wrapper {
    margin-top: 58px;
    font-size: 0;
    .input_text {
      width: 370px;
      height: 52px;
      padding: 0 24px;
      box-sizing: border-box;
      border-radius: 5px 0 0 5px;
      background-color: #fff;
      @include font(14px, 52px, #9aa1b1);
      &::placeholder {
        @include font(14px, 52px, #9aa1b1);
      }
    }
    .try_btn {
      width: 170px;
      height: 52px;
      background-color: #1977f6;
      @include font(16px, 52px);
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      transition: $transition2;
      position: relative;
      vertical-align: top;
      &:hover {
        background-color: #0060df;
        .iconfont {
          &::before {
            opacity: 0;
            transform: translateX(10px);
          }
          &::after {
            left: 68%;
            opacity: 1;
          }
        }
      }
      .iconfont {
        margin-left: 4px;
        &::before {
          transition: $transition2;
          display: inline-block;
        }
        &::after {
          @include iconFont('\e650');
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%);
          transition: $transition2;
          opacity: 0;
        }
      }
    }
  }
  .datas {
    position: absolute;
    top: 0;
    left: 0;
    .item-data {
      position: absolute;
      @include font(12px, 20px, #0eebff);
      animation: translateAnime 2s infinite forwards;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i / 10}s;
        }
      }
      &::before {
        content: '';
        width: 5px;
        height: 5px;
        background-color: #0eebff;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 2px);
        bottom: -8px;
      }
      &::after {
        content: '';
        width: 1px;
        height: 120px;
        opacity: 0.6;
        background-image: linear-gradient(
          180deg,
          #7df3ff 20%,
          $colorTransparent
        );
        position: absolute;
        top: 36px;
        left: 50%;
      }
      &:nth-child(1) {
        top: vw(444px);
        left: vw(1100px);
      }
      &:nth-child(2) {
        top: vw(490px);
        left: vw(1265px);
      }
      &:nth-child(3) {
        top: vw(418px);
        left: vw(1232px);
      }
      &:nth-child(4) {
        top: vw(518px);
        left: vw(1354px);
      }
      &:nth-child(5) {
        top: vw(476px);
        left: vw(1394px);
      }
      &:nth-child(6) {
        top: vw(444px);
        left: vw(1487px);
      }
      &:nth-child(7) {
        top: vw(348px);
        left: vw(1610px);
      }
      &:nth-child(8) {
        top: vw(533px);
        left: vw(1640px);
      }
      &:nth-child(9) {
        top: vw(468px);
        left: vw(1690px);
      }
      &:nth-child(10) {
        top: vw(444px);
        left: vw(1730px);
      }
    }
  }
  .dots {
    position: absolute;
    top: 0;
    .dot {
      width: 8px;
      height: 8px;
      background-image: radial-gradient(#fff, #21edff);
      border-radius: 50%;
      box-shadow: 0 0 8px 1px #3ac0ff;
      position: absolute;
      top: 900px;
      left: 800px;
      @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
          animation: translatedot 2s infinite #{random($limit: 10) / 6}s;
          &::after {
            animation: translatedot 2s infinite forwards 1s;
          }
        }
      }
      &:nth-child(1) {
        top: vw(655px);
        left: vw(574px);
      }
      &:nth-child(2) {
        top: vw(690px);
        left: vw(623px);
      }
      &:nth-child(3) {
        top: vw(686px);
        left: vw(705px);
      }
      &:nth-child(4) {
        top: vw(734px);
        left: vw(698px);
      }
      &:nth-child(5) {
        top: vw(706px);
        left: vw(754px);
      }
      &:nth-child(6) {
        top: vw(744px);
        left: vw(823px);
      }
      &:nth-child(7) {
        top: vw(677px);
        left: vw(807px);
      }
      &:nth-child(8) {
        top: vw(633px);
        left: vw(857px);
      }
      &:nth-child(9) {
        top: vw(540px);
        left: vw(797px);
      }
      &:nth-child(10) {
        top: vw(674px);
        left: vw(878px);
      }
      &:nth-child(11) {
        top: vw(650px);
        left: vw(930px);
      }
      &:nth-child(12) {
        top: vw(670px);
        left: vw(950px);
      }
      &:nth-child(13) {
        top: vw(720px);
        left: vw(970px);
      }
      &:nth-child(14) {
        top: vw(750px);
        left: vw(990px);
      }
      &:nth-child(15) {
        top: vw(650px);
        left: vw(990px);
      }
      &:nth-child(16) {
        top: vw(660px);
        left: vw(1020px);
      }
      &:nth-child(17) {
        top: vw(660px);
        left: vw(1090px);
      }
      &:nth-child(18) {
        top: vw(760px);
        left: vw(1090px);
      }
      &:nth-child(19) {
        top: vw(700px);
        left: vw(1118px);
      }
      &:nth-child(20) {
        top: vw(654px);
        left: vw(1169px);
      }
      &:nth-child(21) {
        top: vw(577px);
        left: vw(1301px);
      }
      &:nth-child(22) {
        top: vw(473px);
        left: vw(1307px);
      }
      &:nth-child(23) {
        top: vw(513px);
        left: vw(1337px);
      }
      &:nth-child(24) {
        top: vw(581px);
        left: vw(1331px);
      }
      &:nth-child(25) {
        top: vw(577px);
        left: vw(1445px);
      }
      &:nth-child(26) {
        top: vw(637px);
        left: vw(1515px);
      }
      &:nth-child(27) {
        top: vw(404px);
        left: vw(1511px);
      }
      &:nth-child(28) {
        top: vw(424px);
        left: vw(1591px);
      }
      &:nth-child(29) {
        top: vw(433px);
        left: vw(1658px);
      }
      &:nth-child(30) {
        top: vw(355px);
        left: vw(1715px);
      }
    }
  }
}

@mixin pruductCube($class, $side) {
  #{$class} {
    width: $side;
    height: $side;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition2;
    .face {
      &.x {
        &::before {
          border-left: none;
          border-top: none;
        }
      }
      &.y {
        &::after {
          border-top: none;
          border-right: none;
        }
      }
      &.z {
        &::after {
          border-top: none;
          border-left: none;
        }
      }
      &::before,
      &::after {
        transition: $transition2;
        border: 2px solid rgba(#fff, 0.7);
      }
      &::before {
        transform: translateZ($side / 2);
      }
      &::after {
        transform: translateZ(-$side / 2);
      }
    }
  }
}
// 产品ICON
.product-icon {
  .icon1 {
    &:hover {
      .cir-back {
        transform: translate(30px, -4px) scale(0.9);
        background-color: rgba(#102098, 0.9);
        border-color: $colorTransparent;
      }
      .cir-front {
        transform: translateX(-30px) scale(1.125);
        background-color: $colorTransparent;
        border-color: $colorTransparent;
        &::before {
          opacity: 0.8;
        }
      }
      .icon {
        transform: translate(-50%, -50%);
      }
    }
    .cir-back,
    .cir-front {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -60px 0 0 -60px;
      box-sizing: border-box;
    }
    .cir-back {
      transform: translateX(30px);
      transition: $transition2;
      border: 1px dashed #fff;
    }
    .cir-front {
      transform: translateX(-30px);
      transition: $transition2;
      background-color: #020437;
      border: 2px solid #fff;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        background-image: linear-gradient(0deg, #0d489e, #107aff);
        opacity: 0;
        transition: $transition2;
      }
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-120%, -50%);
      @include font(40px, 120px);
      transition: $transition2;
    }
  }
  .icon2 {
    &:hover {
      .plane {
        .cube {
          &.cube0 {
            transform: translate(-50%, -50%) rotate3d(1, 1, 1, 120deg);
            .face {
              &::before,
              &::after {
                opacity: 0;
              }
            }
          }
          &.cube1 {
            $side1: 90px;
            width: $side1;
            height: $side1;
            transform: translate(-50%, -50%) rotate3d(1, 1, 1, 120deg);
            .face {
              &::before {
                transform: translateZ($side1 / 2);
              }
              &::after {
                transform: translateZ(-$side1 / 2);
              }
            }
          }
          &.cube2 {
            $side1: 61.875px;
            width: $side1;
            height: $side1;
            .face {
              &::before,
              &::after {
                opacity: 1;
              }
              &::before {
                transform: translateZ($side1 / 2);
              }
              &::after {
                transform: translateZ(-$side1 / 2);
              }
            }
          }
        }
      }
      .icon {
        top: 29%;
        opacity: 1;
      }
    }
    .plane {
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      perspective: 10000px;
      @include pruductCube('.cube0', 90px);
      @include pruductCube('.cube1', 61.875px);
      @include pruductCube('.cube2', 0px);
      .cube2 {
        .face {
          &::before,
          &::after {
            transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
              opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
          }
          &.x {
            &::after {
              background-image: linear-gradient(
                -135deg,
                #1b58e0,
                $colorTransparent
              );
              opacity: 0;
            }
          }
          &.y {
            &::before {
              background-image: linear-gradient(
                -45deg,
                #147dff,
                $colorTransparent
              );
              opacity: 0;
            }
          }
          &.z {
            &::before {
              background-image: linear-gradient(
                -45deg,
                #0559b1,
                $colorTransparent
              );
              opacity: 0;
            }
          }
        }
      }
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      @include font(20px, 1);
      opacity: 0;
      transition: $transition2;
    }
  }
  .icon3 {
    &:hover {
      .iconquzhongxinhua-huan {
        @for $i from 2 through 4 {
          &:nth-child(#{$i}) {
            animation: rotate#{$i} infinite #{$i - 1}s linear forwards;
          }
        }
        &:nth-child(1) {
          opacity: 0;
        }
      }
      .iconquzhongxinhua {
        &::after {
          opacity: 1;
        }
      }
    }
    .item_img {
      .iconfont {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            font-size: #{($i - 1) * 26 + 76}px;
            transform: translate(-50%, -50%) rotate(#{$i * 45}deg);
          }
        }
      }
    }
    .iconquzhongxinhua {
      @include font(48px, 1);
      &::after {
        content: '';
        width: 160%;
        height: 160%;
        background-image: linear-gradient(180deg, #1473ff66, #3a58de7a);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0;
        transition: $transition2;
      }
    }
    .iconquzhongxinhua-huan {
      @include font(76px, 1);
    }
  }
  .icon4 {
    &:hover {
      .line {
        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            animation: translateLine
              4s
              infinite
              forwards
              #{1.6 -
              random($limit: 10) /
              4}s;
          }
        }
      }
      .dot {
        @for $i from 1 through 13 {
          &:nth-child(#{$i}) {
            animation: translatedot 2s infinite #{2 - random($limit: 10) / 6}s;
            &::after {
              animation: translatedot 2s infinite forwards 1s;
            }
          }
        }
      }
    }
    .item_img {
      width: 125px;
      margin: 0 auto 14px;
    }
    .iconganggan2 {
      @include font(46px, 140px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    .line {
      width: 1px;
      background-color: rgba(#fff, 0.2);
      position: absolute;
      box-shadow: 0 0 8px 1px #020437;
      &:nth-child(1) {
        height: 70px;
        left: 21px;
        bottom: 20px;
      }
      &:nth-child(2) {
        width: 2px;
        height: 80px;
        left: 35px;
        bottom: 25px;
        background-color: rgba(#fff, 0.4);
      }
      &:nth-child(3) {
        height: 90px;
        left: 46px;
        bottom: 35px;
        background-color: rgba(#fff, 0.3);
      }
      &:nth-child(4) {
        height: 97px;
        left: 53px;
        bottom: 11px;
      }
      &:nth-child(5) {
        height: 60px;
        left: 72px;
        bottom: 39px;
      }
      &:nth-child(6) {
        height: 60px;
        left: 87px;
        bottom: 36px;
      }
      &:nth-child(7) {
        height: 70px;
        left: 96px;
        bottom: 40px;
        background-color: rgba(#fff, 0.5);
      }
      &:nth-child(8) {
        height: 70px;
        left: 106px;
        bottom: 67px;
      }
      &:nth-child(9) {
        width: 2px;
        height: 80px;
        left: 115px;
        bottom: 28px;
      }
    }
    .dot {
      width: 2px;
      height: 2px;
      background-color: #c4c4d3;
      position: absolute;
      opacity: 1;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        box-shadow: 0 0 8px 1px #3ac0ff;
        opacity: 0;
      }
      &:nth-child(1) {
        top: 73px;
        left: 14px;
      }
      &:nth-child(2) {
        top: 45px;
        left: 119px;
      }
      &:nth-child(3) {
        top: 76px;
        left: 90px;
      }
      &:nth-child(4) {
        top: 115px;
        left: 28px;
      }
      &:nth-child(5) {
        top: 88px;
        left: 33px;
      }
      &:nth-child(6) {
        top: 64px;
        left: 41px;
      }
      &:nth-child(7) {
        top: 136px;
        left: 45px;
      }
      &:nth-child(8) {
        top: 122px;
        left: 49px;
      }
      &:nth-child(9) {
        top: 47px;
        left: 49px;
      }
      &:nth-child(10) {
        top: 42px;
        left: 62px;
      }
      &:nth-child(11) {
        top: 63px;
        left: 66px;
      }
      &:nth-child(12) {
        top: 118px;
        left: 88px;
      }
      &:nth-child(13) {
        top: 96px;
        left: 100px;
      }
    }
  }
}

#product {
  background-color: #020437;
  .module_container {
    position: static;
  }
  #webgl-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    & > canvas {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .container_content {
    padding-top: vw(156px);
  }
  .swiper-control {
    left: 50%;
    bottom: vw(109px);
    transform: translateX(-50%);
    z-index: 2;
  }
  .item_block {
    text-align: center;
    @include picCult(162px);
    overflow: hidden;
    &:hover {
      .more {
        background-color: #1977f6;
        margin-top: 20px;
        span.text {
          opacity: 1;
          transform: translateX(-13px);
        }
        .iconfont {
          left: 64%;
        }
      }
    }
    .item_img {
      margin-bottom: 14px;
    }
    .item_wrapper {
      .title {
        @include font(19px, 58px);
      }
    }
    .more {
      .iconfont {
        transform: translateX(-50%);
      }
    }
  }
  .item_info {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    li {
      width: vw(860px);
      height: 100vh;
      @media screen and (max-width: 1280px) {
        width: vw(600px, 1280px);
      }
      position: absolute;
      top: 0;
      text-align: left;
      padding: vw(262px) vw(82px) 0 vw(148px);
      box-sizing: border-box;
      background-color: rgba(#01043c, 0.8);
      opacity: 0;
    }
    .title {
      @include font(17px, 41px);
      position: relative;
      &::before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 8px 1px #3ac0ff;
        position: absolute;
        top: 20px;
        left: -21px;
      }
    }
    .desc {
      @include font(14px, 26px, rgba(255, 255, 255, 0.8));
      margin-bottom: 52px;
    }
  }
}

.project {
  .module_container {
    position: relative;
  }
  .container_content {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .item_block {
      width: 25%;
      height: 100vh;
      float: left;
      padding-left: 75px;
      box-sizing: border-box;
      position: relative;
      @include picCult(95px);
      &:hover {
        &::after {
          opacity: 1;
          height: 100%;
        }
        .more {
          background-color: #1977f6;
          span.text {
            opacity: 1;
          }
          .iconfont {
            left: 30%;
            opacity: 0;
          }
          .iconhover {
            left: 70%;
            opacity: 1;
            transition-delay: 0.125s;
          }
        }
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 70%;
        background-image: linear-gradient(
          $colorTransparent 0,
          #0b2472 50%,
          $colorTransparent 100%
        );
        opacity: 0;
        transition: $transition2;
        pointer-events: none;
      }
      &:nth-child(1),
      &:nth-child(4) {
        &::after {
          width: 200%;
        }
      }
      &:nth-child(1) {
        &::after {
          left: auto;
          right: 0;
        }
      }
      .item_box {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
      .item_img {
        margin-bottom: 40px;
        overflow: initial;
        .iconfont {
          position: absolute;
        }
      }
      .item_wrapper {
        margin-bottom: 40px;
        .title {
          @include font(17px, 78px);
        }
        .des {
          @include font(14px, 36px, rgba(#fff, 0.5));
          p {
            transition: $transition2;
            position: relative;
            &::after {
              content: '';
              width: 4px;
              height: 4px;
              background-color: #fff;
              border-radius: 50%;
              box-shadow: 0 0 8px 1px #3ac0ff;
              position: absolute;
              top: calc(50% - 2px);
              left: 0;
              transition: $transition2;
              opacity: 0;
            }
            &:hover {
              color: #fff;
              text-indent: 20px;
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
      .more {
        margin: 0;
        text-align: center;
        position: absolute;
        top: 70%;
        .text {
          transform: translateX(-10px);
        }
        .iconfont {
          left: 0;
        }
        .iconhover {
          left: 30%;
          opacity: 0;
        }
      }
      &.icon1 {
        &:hover {
          .iconjiaoyixitongjinbi {
            transform: translate(0, -4px) scale(1.125);
            &::before {
              color: #fff;
            }
            &::after {
              background-color: $colorTransparent;
            }
          }
          .iconjiaoyixitongfuwuqi {
            transform: translate(4px, -50%) scale(0.77);
          }
        }
        .iconjiaoyixitongjinbi {
          @include font(36px, 52px);
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-image: linear-gradient(-20deg, #3493fd, #22c8ff);
          top: 32px;
          left: 0;
          transition: $transition2;
          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: #2da8fe;
          }
          &::after {
            content: '';
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background-color: #091a6d;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 1px);
            transition: $transition2;
          }
        }
        .iconjiaoyixitongfuwuqi {
          @include font(90px, 1);
          background-image: linear-gradient(-20deg, #3493fd, #22c8ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          top: 52%;
          left: 21px;
          transform: translateY(-50%);
          transition: $transition2;
        }
      }
      &.icon2 {
        &:hover {
          .iconqianbaoxitong-qian {
            opacity: 0;
            transform: translate(0, -4px) scale(1.125);
          }
          .iconqianbaoxitong-qianhover {
            opacity: 1;
            transform: translate(0, -4px) scale(1.125);
          }
          .iconqianbaoxitong-hou {
            transform: translate(4px, -50%) scale(0.85);
          }
        }
        .iconqianbaoxitong-hou {
          @include font(110px, 1);
          background-image: linear-gradient(-20deg, #3493fd, #22c8ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          transition: $transition2;
        }
        .iconqianbaoxitong-qian,
        .iconqianbaoxitong-qianhover {
          @include font(42px, 1);
          background-image: linear-gradient(-20deg, #3493fd, #22c8ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          top: 36px;
          left: 84px;
          opacity: 1;
          transition: $transition2;
        }
        .iconqianbaoxitong-qianhover {
          opacity: 0;
          transition: $transition2;
          &::after {
            content: '';
            width: 8px;
            height: 8px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 17px;
            left: 9px;
          }
        }
      }
      &.icon3 {
        &:hover {
          .iconjiaoyixitongjinbi {
            transform: translate(0, 10px) scale(1.025);
            &::before {
              color: #fff;
            }
            &::after {
              background-color: $colorTransparent;
            }
          }
          .iconliudongxingxitong {
            transform: translate(0, 4px) scale(0.75);
          }
        }
        .iconjiaoyixitongjinbi {
          @include font(36px, 54px);
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-image: linear-gradient(-20deg, #3493fd, #22c8ff);
          top: 0;
          left: 42px;
          transition: $transition2;
          &::before {
            position: absolute;
            top: 52%;
            left: 51%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: #2da8fe;
            transition: $transition2;
          }
          &::after {
            content: '';
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background-color: #091a6d;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: $transition2;
          }
        }
        .iconliudongxingxitong {
          @include font(110px, 1);
          background-image: linear-gradient(-90deg, #3493fd, #22c8ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          left: 12px;
          bottom: -36px;
          transition: $transition2;
        }
      }
      &.icon4 {
        &:hover {
          .iconbg {
            transform: translateX(-4px) scale(1.085);
            &::after {
              opacity: 0;
            }
          }
          .iconjinrongyanshengpin-bak {
            transform: translate(-4px, -50%) scale(1.085);
            -webkit-text-fill-color: #fff;
          }
          .iconjinrongyanshengpin-hou {
            transform: translate(4px, 6px) scale(0.85);
          }
        }
        .iconjinrongyanshengpin-bak {
          @include font(90px, 1);
          background-image: linear-gradient(-20deg, #3493fd, #22c8ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          top: 50%;
          left: 0;
          transform: translate(-1px, -50%);
          transition: $transition2;
        }
        .iconbg {
          width: 63px;
          height: 88px;
          border-radius: 8px;
          position: absolute;
          top: 3px;
          left: 13px;
          transition: $transition2;
          &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-20deg, #3493fd, #22c8ff);
            border-radius: inherit;
            position: absolute;
            top: 0;
            left: 0;
          }
          &::after {
            content: '';
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            background-color: #071051;
            border-radius: 6px;
            position: absolute;
            top: 3px;
            left: 3px;
            transition: $transition2;
          }
        }
        .iconjinrongyanshengpin-hou {
          @include font(66px, 1);
          background-image: linear-gradient(-90deg, #3493fd, #22c8ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          top: 26px;
          left: 56px;
          transition: $transition2;
        }
      }
    }
  }
}

.service {
  .container_content {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50% - #{74px}));
  }
  .item_block {
    width: calc(100% / 3);
    padding: 0 vw(65px);
    box-sizing: border-box;
    @include picCult(110px);
    position: relative;
    float: left;
    text-align: center;
    &:hover {
      .item-mask {
        width: vw(130px);
        height: vw(130px);
        opacity: 1;
      }
      .item_img {
        transform: scale(1.2);
      }
      .des {
        color: #fff;
      }
      .more {
        background-color: #1977f6;
        span.text {
          opacity: 1;
        }
        .iconfont {
          left: 80%;
          opacity: 0;
        }
        .iconhover {
          left: 70%;
          opacity: 1;
          transition-delay: 0.125s;
        }
      }
    }
    .item-mask {
      width: vw(50px);
      height: vw(50px);
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dotted rgb(165, 208, 253);
      border-radius: 50%;
      opacity: 0;
      transition: $transition2;
      &::before,
      &::after {
        content: '';
        border: inherit;
        border-radius: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: inherit;
      }
      &::before {
        width: 144%;
        height: 144%;
        opacity: 0.6;
      }
      &::after {
        width: 198%;
        height: 198%;
        opacity: 0.2;
      }
    }
    .item_img {
      margin-bottom: 16px;
      transition: $transition2;
      position: relative;
      z-index: 2;
      img {
        height: 110px;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .item_wrapper {
      margin: 30px 0px;
    }
    .title {
      @include font(19px, 70px);
      margin-bottom: 10px;
    }
    .des {
      @include font(14px, 28px, rgba(#fff, 0.7));
      @include rowEllipsis(4, 28px);
      transition: $transition2;
    }
    .more {
      margin: 0;
      text-align: center;
      .text {
        transform: translateX(-10px);
      }
      .iconfont {
        left: 0;
      }
      .iconhover {
        left: 30%;
        opacity: 0;
      }
    }
  }
}

.case {
  .container_content {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50% - #{74px}));
    z-index: 2;
  }
  .item_block {
    width: 25%;
    float: left;
    margin-bottom: vw(122px);
    cursor: pointer;
    position: relative;
    @include picCult(vw(40px));
    &:hover {
      &::after {
        opacity: 1;
      }
      .item_img {
        transform: scale(1.1);
      }
    }
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 10px 3px #1875ff;
      position: absolute;
      top: calc(50% - 3px);
      right: -3px;
      opacity: 0;
      transition: $transition2;
    }
    &:nth-child(n + 4):nth-child(-n + 6) {
      &::after {
        right: auto;
        left: -3px;
      }
    }
    &:nth-child(-n + 3) {
      .item_img {
        margin-left: auto;
      }
    }
    &:nth-child(6n + 3) {
      margin-right: 25%;
    }
    &:nth-child(6n + 4) {
      margin-left: 25%;
    }
    .item_img {
      width: vw(200px);
      transition: $transition2;
    }
  }
}

.contact {
  .module-mask {
    .line1,
    .line3 {
      display: none;
    }
  }
  .bg-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    &.bg-mask-earth {
      background-image: url(../assets/images/earth.png);
      opacity: 0.5;
      z-index: 2;
    }
    &.bg-mask-light {
      background-image: url(../assets/images/light.jpg);
      animation-name: fadeIn;
      background-blend-mode: screen;
      background-color: #0d135f;
    }
  }
  .module_container {
    position: relative;
    z-index: 3;
  }
  .container_content {
    padding-top: vw(432px);
  }
  .contact_form {
    width: 50%;
    float: left;
    .form_wrapper {
      width: 70%;
      position: relative;
      font-size: 0;
      text-align: left;
      .input_text,
      .btn {
        @include font(15px, 55px);
      }
      .input_text {
        width: 66%;
        padding: 0 12px;
        box-sizing: border-box;
      }
      .btn {
        width: 34%;
        position: relative;
        cursor: pointer;
        &:hover {
          .text {
            margin-right: 20px;
          }
        }
        .text {
          transition: $transition2;
          margin-right: 10px;
          text-indent: -20px;
        }
        .iconfont {
          transform: translateY(1px);
        }
        &::before {
          content: '';
          width: 1px;
          height: 100%;
          background-image: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.5) 50%,
            $colorTransparent 100%
          );
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .streamer {
        content: '';
        width: 31px;
        height: 120px;
        background-image: url(../assets/images/streamer.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        bottom: 16px;
        transform: rotate(90deg);
        transform-origin: left bottom;
      }
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.5) 80%,
          $colorTransparent 100%
        );
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    .share_wrapper {
      @include font(14px, 28px);
      margin-top: 60px;
      .label {
        color: #b0b4ce;
      }
      .iconfont {
        display: inline-block;
        margin-left: 24px;
        cursor: pointer;
        color: rgba(#fff, 0.6);
        transition: $transition2;
        &:nth-child(1) {
          margin-left: 10px;
        }
        &:hover {
          color: #fff;
          transform: scale(1.16);
        }
      }
    }
  }
  .contact_link {
    width: 50%;
    float: left;
    .item-link {
      padding-left: vw(140px);
      box-sizing: border-box;
      float: left;
      .title {
        @include font(18px, 55px);
        margin-bottom: 12px;
      }
      a {
        @include font(14px, 42px, rgba(255, 255, 255, 0.5));
        transition: $transition2;
        &:hover {
          color: #1977f6;
        }
      }
    }
  }
}

.bodyproductpost {
  position: relative;
  .postlist {
    .container_header {
      .title {
        @include font(24px, 86px);
        padding-left: 30px;
        position: relative;
        &::before {
          content: '';
          width: 26px;
          height: 26px;
          background-image: url(../assets/images/spot.png);
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: calc(50% - 13px);
          left: 0;
          background-blend-mode: screen;
          background-color: #11145b;
        }
      }
    }
    &:not(:last-child) {
      .module_container {
        border-bottom: 1px dashed rgba(#fff, 0.1);
        margin-bottom: 53px;
      }
    }
  }
  .banner {
    height: vw(573px);
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: rgba(#fff, 0.1);
      position: absolute;
      top: 0;
      left: 50%;
    }
    &::after {
      content: '';
      width: vw(1200px);
      height: vw(500px);
      background-color: #0c36bf9e;
      border-radius: 50%;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(200px);
      pointer-events: none;
      z-index: -1;
    }
    .info {
      position: absolute;
      left: vw(192px);
      bottom: vw(117px);
      z-index: 1;
      @media screen and (max-width: 1280px) {
        left: calc((100vw - 1100px) / 2);
      }
      .item_img {
        width: 140px;
        height: 162px;
        position: relative;
      }
      .plane {
        @include pruductCube('.cube0', 100px);
        @include pruductCube('.cube1', 61.875px);
        @include pruductCube('.cube2', 0px);
      }
      .item_info {
        margin-left: 40px;
        margin-top: 2%;
      }
      .title {
        @include font(32px, 78px);
      }
      .subtitle {
        @include font(15px, 29px, #b8b8c8);
      }
    }
    .ribbon {
      height: vw(573px);
      position: relative;
      z-index: 1;
    }
  }
  .post-content {
    @include designWidth(1536px, 1100px);
    .post-content_container {
      background-color: #11145b;
      padding: 38px vw(110px) 0;
      box-sizing: border-box;
    }
    .post-nav {
      position: relative;
      border-top: 1px solid rgba(#fff, 0.1);
      z-index: 10;
      transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
        box-shadow 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      &.fixed {
        background-color: #1f2382;
        box-shadow: 0px 30px 25px 0px #0a0d51;
      }
    }
    .move-bar {
      width: 25%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(#080b4a, #11145b);
      &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-image: url(../assets/images/glow.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -2px;
        left: 0;
      }
    }
    .item-nav {
      width: 25%;
      text-align: center;
      @include font(17px, 89px, rgba(#fff, 0.7));
      float: left;
      position: relative;
      z-index: 1;
      &.active {
        color: #4494ff;
      }
    }
    .swiper-control {
      margin-top: 58px;
      padding-left: 28px;
      position: relative;
    }
    .swiper-pagination {
      width: 1px;
      height: calc(100% - 60px);
      background-color: rgba(#fff, 0.2);
      top: 30px;
      left: 36px;
      z-index: 1;
      .swiper-notification {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        opacity: 0;
        z-index: -1000;
      }
    }
    .item-control {
      background-color: #11145b;
      @include font(14px, 30px, #9495b0);
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: $transition2;
      &:hover,
      &.active {
        color: #1977f6;
      }
      &:nth-child(n + 2) {
        margin-top: 58px;
      }
      .index {
        margin-right: 10px;
      }
    }
    .feature {
      .container_header {
        border-bottom: 1px dashed rgba(#fff, 0.1);
      }
      .content_list {
        overflow: hidden;
        padding-bottom: 30px;
        margin-bottom: -30px;
      }
      .item_block {
        padding: 36px 0;
        position: relative;
        cursor: pointer;
        transition: $transition2;
        &:nth-child(n + 2) {
          border-top: 1px dashed rgba(#fff, 0.1);
        }
        &:hover:not(.active) {
          box-shadow: 0 30px 18px 0px #01032630;
          .icon {
            transform: scale(1.1);
          }
          .subtitle {
            color: #fff;
          }
          .btn {
            &::before,
            &::after {
              background-color: #fff;
            }
          }
        }
        &.active {
          .desc {
            padding: 23px 0 30px;
            height: 167px;
          }
          .btn {
            &::before,
            &::after {
              background-color: #1763d7;
            }
            &::after {
              transform: rotate(90deg);
            }
          }
        }
        .pos_left {
          position: absolute;
          left: 0;
        }
        .pos_right {
          margin-left: 185px;
        }
        .icon {
          width: 104px;
          padding: 0 38px;
          transition: $transition2;
        }
        .info {
          padding: 15px 0 20px;
        }
        .title {
          @include font(19px, 37px);
        }
        .subtitle {
          @include font(14px, 32px, rgba(#fff, 0.6));
          transition: $transition2;
        }
        .desc {
          height: 0;
          transition: $transition2;
          overflow: hidden;
        }
        .item-desc {
          width: 50%;
          float: left;
          padding-left: 24px;
          box-sizing: border-box;
          &:nth-child(n + 3) {
            padding-top: 43px;
          }
        }
        .name {
          position: relative;
          @include font(16px, 32px);
          &::before {
            content: '';
            width: 3px;
            height: 3px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 8px 1px #3ac0ff;
            position: absolute;
            top: calc(50% - 1px);
            left: -18px;
          }
        }
        .des {
          @include font(14px, 30px, rgba(#fff, 0.6));
        }
        .btn {
          width: 26px;
          height: 26px;
          position: absolute;
          top: 67px;
          right: 20px;
          cursor: pointer;
          &::before,
          &::after {
            content: '';
            background-color: rgba(#fff, 0.5);
            position: absolute;
            transition: $transition2;
          }
          &::before {
            width: 26px;
            height: 2px;
            top: 12px;
            left: 0;
          }
          &::after {
            width: 2px;
            height: 26px;
            top: 0;
            left: 12px;
          }
        }
      }
    }
    .advantage {
      .module_container {
        padding-bottom: 60px;
      }
      .swiper-container {
        width: 73%;
        margin-right: 0;
      }
      .item_block {
        background-color: #11145b;
        &.swiper-slide-active {
          z-index: 1;
          .info,
          .image {
            transform: translateX(0);
          }
        }
        .info {
          width: 392px;
          position: absolute;
          top: 38px;
          left: 0;
          transition: all 1s;
          transition-delay: 0.4s;
          transform: translateX(-100%);
          animation-name: fadeInLeft;
        }
        .title {
          @include font(24px, 80px);
          position: relative;
          margin-bottom: 20px;
          &::after {
            content: '';
            width: 35px;
            height: 3px;
            background-color: #1977f6;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
        .des {
          @include font(14px, 26px, rgba(#fff, 0.6));
        }
        .image {
          width: vw(540px);
          max-width: 540px;
          margin-left: auto;
          transition: all 1s;
          transition-delay: 0.4s;
          transform: translateX(100%);
          animation-name: fadeInRight;
        }
      }
    }
    .prolist {
      .module_container {
        padding-bottom: 100px;
      }
      .swiper-container {
        margin-top: 36px;
        width: 80%;
        border: 1px solid rgba(#fff, 0.2);
      }
      .item_block {
        padding: 34px 78px;
        box-sizing: border-box;
        .item-list {
          width: 25%;
          float: left;
          li {
            cursor: pointer;
            &:hover {
              .text,
              .iconfont {
                color: #1977f6;
              }
            }
          }
          .text {
            @include font(15px, 60px);
            transition: $transition2;
          }
          .iconfont {
            margin-right: 10px;
            @include font(22px, 60px, rgba(#fff, 0.4));
            transform: translateY(1px);
            transition: $transition2;
          }
        }
      }
    }
    .question {
      .content_wrapper {
        padding-top: 32px;
        margin-right: -28px;
      }
      .item_block {
        width: calc(100% / 3 - 28px);
        margin-right: 28px;
        float: left;
        border-radius: 10px;
        padding: vw(44px) vw(68px) vw(58px);
        box-sizing: border-box;
        margin-bottom: 113px;
        position: relative;
        cursor: pointer;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          border-radius: inherit;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #13287a;
          transition: $transition2;
        }
        &:hover {
          &::after {
            background-color: #1977f6;
            box-shadow: 0px 30px 25px 0px #0a0d51;
          }
          .index {
            top: -50%;
            opacity: 1;
          }
        }
        .index {
          @include font(140px, 1, rgba(#1977f6, 0.2));
          font-family: POPPINS-BOLD;
          position: absolute;
          top: 0;
          right: 20px;
          opacity: 0;
          transition: $transition2;
        }
        .ask {
          position: relative;
          z-index: 1;
          &::before {
            content: 'Q:';
            @include font(18px, 29px, rgba(#fff, 0.4));
            font-family: POPPINS-BOLD;
            position: absolute;
            top: 1px;
            left: -26px;
          }
        }
        .text {
          @include font(15px, 30px);
          @include rowEllipsis(2, 30px);
        }
      }
    }
  }
  .contact {
    position: relative;
    .bg-mask {
      height: 100%;
    }
    .bg-mask-earth {
      opacity: 0.8;
    }
    .bg-mask-light {
      background-color: #010326;
    }
    .module_container {
      padding: vw(340px) 0 vw(160px);
    }
    .container_content {
      padding-top: 0;
      @include designWidth(1536px, 1100px);
    }
    .item-link {
      padding-left: vw(120px);
    }
  }
  #footer {
    padding: 0 10%;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
  }
}

// cude
$side: vw(76px);
$background: $colorTransparent;
$cubesNum: 7;

@mixin plane($w, $h) {
  width: $w;
  height: $h;
  transform-style: preserve-3d;
}

@mixin cube($side) {
  @include plane($side, $side);

  .face {
    position: absolute;
    box-sizing: border-box;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before {
      transform: translateZ(-$side/2);
    }

    &::after {
      transform: translateZ($side/2);
    }

    &.x {
      transform: rotateX(90deg);
    }
    &.y {
      transform: rotateY(90deg);
    }
  }
}

.plane {
  position: absolute;
  top: 90%;
  transform: translate(-50%, -50%) rotateX(54.73561031724534deg) rotateZ(45deg);
  &.plane_left {
    right: -19.5%;
    @include plane(2 * $side * $cubesNum, 2 * $side * $cubesNum);
  }
  &.plane_right {
    left: 75%;
    @include plane(2 * $side * $cubesNum, 2 * $side * $cubesNum);
  }
  &.anime {
    .cube {
      $half: ceil($cubesNum / 2);
      @for $i from 1 through $cubesNum {
        @for $j from 1 through $cubesNum {
          $k: ($i - 1) * $cubesNum + $j;
          $m: abs($half - $i);
          $n: abs($half - $j);
          &:nth-child(#{$k}) {
            animation-name: if(($m + $n) % 2 == 1, rotate, rotate-reverse);
            animation-delay: 8s * (max($m, $n) / $cubesNum / $cubesNum);
            .point {
              &::before,
              &::after {
                animation-delay: 8s * (max($m, $n) / $cubesNum / $cubesNum);
                animation-timing-function: ease-in-out;
                animation-duration: 2s;
                animation-fill-mode: forwards;
              }
              &.top {
                &::before,
                &::after {
                  animation-name: rotate-top-point;
                }
              }
              &.bottom {
                &::before,
                &::after {
                  animation-name: rotate-bottom-point;
                }
              }
            }
          }
        }
      }
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
}

.cube {
  @include cube($side);
  float: left;
  margin: $side / 2;
  &:nth-child(28),
  &:nth-child(34),
  &:nth-child(35),
  &:nth-child(40),
  &:nth-child(41),
  &:nth-child(42),
  &:nth-child(46),
  &:nth-child(47),
  &:nth-child(48),
  &:nth-child(49) {
    animation-name: none !important;
    visibility: hidden;
  }

  .points {
    width: $side;
    height: $side;
    transform-style: preserve-3d;
    position: absolute;
    transform: translate3d(50%, 50%, -$side / 2);
  }
  .point {
    &::before,
    &::after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: radial-gradient(#fff, #75cbff);
      position: absolute;
      opacity: 0;
    }
    &::before {
      left: -50%;
    }
    &::after {
      left: 50%;
    }
    &.front {
      &::before,
      &::after {
        top: 50%;
      }
    }
    &.back {
      &::before,
      &::after {
        top: -50%;
      }
    }
    &.top {
      &::before,
      &::after {
        transform: translate3d(-50%, -50%, $side) rotateX(145deg)
          rotateY(-45deg) rotateZ(-45deg);
      }
    }
    &.bottom {
      &::before,
      &::after {
        transform: translate3d(-50%, -50%, 0px) rotateX(-45deg) rotateY(45deg)
          rotateZ(-45deg);
      }
    }
  }
  .face {
    &::before,
    &::after {
      box-sizing: border-box;
      background: $background;
      border: 1px solid rgba($color: #539ff2, $alpha: 0.2);
    }
  }
}

@keyframes translateAnime {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes translatedot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateLine {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translateY(-60%);
    opacity: 0.5;
    background-color: #1977f6;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes rotate1 {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotateZ(135deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(495deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: translate(-50%, -50%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(540deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: translate(-50%, -50%) rotateZ(225deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(585deg);
  }
}

@keyframes rotate {
  0%,
  25% {
    transform: translateZ(0) rotateZ(0);
  }
  75%,
  100% {
    transform: translateZ(-2 * $side) rotateZ(180deg);
  }
}
@keyframes rotate-reverse {
  0%,
  25% {
    transform: translateZ(0) rotateZ(0);
  }
  75%,
  100% {
    transform: translateZ(-2 * $side) rotateZ(-180deg);
  }
}
@keyframes rotate-top-point {
  0%,
  25% {
    opacity: 0;
    transform: translate3d(-50%, -50%, $side) rotateX(145deg) rotateY(-45deg)
      rotateZ(-45deg);
  }
  75%,
  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, $side) rotateX(45deg) rotateY(-45deg)
      rotateZ(-45deg);
  }
}
@keyframes rotate-bottom-point {
  0%,
  25% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0px) rotateX(-45deg) rotateY(45deg)
      rotateZ(-45deg);
  }
  75%,
  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0px) rotateX(-145deg) rotateY(45deg)
      rotateZ(-45deg);
  }
}

// keyframes
@keyframes halo {
  0% {
    top: -10%;
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0.4;
  }
}
@keyframes downDot4 {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0.7;
  }
  32% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.1;
  }
  66% {
    opacity: 0.4;
  }
  82% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes downDot3 {
  0% {
    opacity: 0.7;
  }
  16% {
    opacity: 0.4;
  }
  32% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.4;
  }
  66% {
    opacity: 0.7;
  }
  82% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes downDot2 {
  0% {
    opacity: 0.4;
  }
  16% {
    opacity: 0.1;
  }
  32% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
  66% {
    opacity: 1;
  }
  82% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes downDot1 {
  0% {
    opacity: 0.1;
  }
  16% {
    opacity: 0.4;
  }
  32% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0.7;
  }
  82% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes moveTo {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.77);
    opacity: 0;
  }
}

@keyframes moveToTop {
  from {
    transform: translate3d(0, 0%, 1px);
  }
  to {
    transform: translate3d(0, -50%, 1px);
  }
}

@keyframes moveToBottom {
  from {
    transform: translate3d(0, 0%, 1px);
  }
  to {
    transform: translate3d(0, 50%, 1px);
  }
}

@keyframes moveFromTopF {
  from {
    transform: translate3d(0%, 100%, 1px);
  }
  to {
    transform: translate3d(0%, 0%, 1px);
  }
}

@keyframes moveFromTopWr {
  from {
    transform: translate3d(0%, -100%, 1px);
  }
  to {
    transform: translate3d(0%, 0%, 1px);
  }
}

@keyframes moveFromEnd {
  from {
    // transform: scale(1.3333, 1);
  }
}

@keyframes moveFromBottomF {
  from {
    transform: translate3d(0%, -100%, 1px);
  }
  to {
    transform: translate3d(0%, 0, 1px);
  }
}

@keyframes moveFromBottomWr {
  from {
    transform: translate3d(0%, 100%, 1px);
  }
  to {
    transform: translate3d(0%, 0, 1px);
  }
}

.pt-page-moveToTopEasing {
  animation: moveTo 0.65s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.pt-page-moveToBottomEasing {
  animation: moveTo 0.65s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.pt-page-moveFromTop {
  transform-origin: top;
  animation: moveFromTopWr 0.65s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  &.ff_topSlider > .content_wrapper,
  .module_container {
    animation: moveFromEnd 0.65s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
}

.pt-page-moveFromBottom {
  transform-origin: bottom;
  animation: moveFromBottomWr 0.65s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  &.ff_topSlider > .content_wrapper,
  .module_container {
    animation: moveFromEnd 0.65s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
}

.pt-page-delay200 {
  animation-delay: 0.2s;
  animation-timing-function: cubic-bezier(0.37, 0.31, 0.2, 0.85);
}

.pt-page-ontop {
  z-index: 999 !important;
}

// 屏幕适配
@media screen and (min-width: 1921px) {
  .bodyproductpost .banner .info .title {
    font-size: 40px;
    line-height: 100px;
  }
  .bodyproductpost .banner .info .subtitle {
    font-size: 20px;
  }
  .bodyproductpost .banner .info .plane {
    @include pruductCube('.cube0', 160px);
    @include pruductCube('.cube1', 99px);
    @include pruductCube('.cube2', 0px);
  }
  .bodyproductpost .banner .info .icon2:hover .plane {
    .cube1 {
      $side1: 160px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
    .cube2 {
      $side1: 99px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
  }
  .bodyproductpost .banner .info .item_info {
    margin-left: 110px;
    margin-top: 0;
  }
  .bodyproductpost .post-content .item-nav {
    font-size: 19px;
  }
  .bodyproductpost .post-content .advantage .item_block .title,
  .bodyproductpost .postlist .container_header .title {
    font-size: 26px;
  }
  .bodyproductpost .post-content .feature .item_block .title {
    font-size: 21px;
  }
  .module-control .try_btn,
  .module-control .moduleCItem,
  .bodyproductpost .post-content .advantage .item_block .des,
  .bodyproductpost .post-content .feature .item_block .des,
  .bodyproductpost .post-content .feature .item_block .subtitle {
    font-size: 16px;
  }
  .bodyproductpost .post-content .prolist .item_block .item-list .text,
  .bodyproductpost .post-content .feature .item_block .name {
    font-size: 18px;
  }
  .bodyproductpost .post-content .feature .item_block .des,
  .bodyproductpost .post-content .advantage .item_block .des {
    line-height: 32px;
  }
  .bodyproductpost .post-content .feature .item_block .name {
    line-height: 36px;
  }
  .bodyproductpost .post-content .question .item_block .text {
    font-size: 18px;
    line-height: 36px;
    height: 72px;
  }
  .module-control .moduleCItem {
    line-height: 70px;
  }
  .bodyproductpost .post-content .question .item_block .ask::before {
    top: 5px;
  }
  .top-slider .info .title svg {
    width: 300px;
    height: 120px;
  }
  .top-slider .info .subtitle {
    font-size: 56px;
    line-height: 70px;
  }
  .bodyindex .module .container_header .title {
    font-size: 38px;
  }
  .project .container_content .item_block .item_wrapper .title {
    font-size: 19px;
  }
  .service .item_block .des {
    line-height: 32px;
  }
  .service .item_block .des,
  .project .container_content .item_block .item_wrapper .des {
    font-size: 16px;
  }
  .service .item_block .title {
    font-size: 21px;
  }
  .service .item_block .item_img {
    padding-top: 120px;
  }
  .service .item_block .item_img img {
    height: 120px;
  }
  .contact .container_content {
    padding-top: vw(520px);
  }
  #product .container_content {
    padding-top: vw(230px);
  }
  #product .item_info .title {
    font-size: 22px;
    line-height: 50px;
  }
  #product .item_info .desc {
    font-size: 16px;
    line-height: 32px;
  }
  #product .item_block .item_wrapper .title {
    font-size: 21px;
  }
  .project .container_content .item_block.icon1 .iconjiaoyixitongjinbi::after {
    background-color: #070c45;
  }
  .project .container_content .item_block.icon3 .iconjiaoyixitongjinbi::after {
    background-color: #0a2080;
  }
}
@media screen and (max-width: 1680px) {
  #product .container_content {
    padding-top: vw(156px);
  }
  .top-slider .info .subtitle {
    font-size: 42px;
  }
  .top-slider .info .title svg {
    width: 200px;
    height: 60px;
  }
  .bodyindex .module .item_block .more {
    font-size: 14px;
  }
  #product .item_block .item_wrapper .title {
    font-size: 17px;
  }
  .bodyindex .module .container_header .title {
    font-size: 28px;
  }
  .project .container_content .item_block .item_wrapper .title {
    font-size: 15px;
  }
  .project .container_content .item_block .item_wrapper .des {
    font-size: 12px;
  }
  .bodyindex .module .item_block .more {
    width: 120px;
  }
  .service .item_block .title {
    font-size: 17px;
  }
  .service .item_block .des {
    font-size: 12px;
  }
  .contact .container_content {
    padding-top: vw(480px);
  }
  .bodyproductpost .banner .info .title {
    font-size: 28px;
    line-height: 62px;
  }
  .bodyproductpost .banner .info .subtitle {
    font-size: 14px;
  }
  .bodyproductpost .banner .info .plane {
    @include pruductCube('.cube0', 80px);
    @include pruductCube('.cube1', 49.5px);
    @include pruductCube('.cube2', 0px);
  }
  .bodyproductpost .banner .info .icon2:hover .plane {
    .cube1 {
      $side1: 80px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
    .cube2 {
      $side1: 49.5px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
  }
  .bodyproductpost .banner .info .item_img {
    height: 132px;
  }
  .bodyproductpost .post-content .item-nav {
    font-size: 15px;
  }
  .bodyproductpost .post-content .advantage .item_block .title,
  .bodyproductpost .postlist .container_header .title {
    font-size: 22px;
  }
  .bodyproductpost .post-content .feature .item_block .title {
    font-size: 17px;
  }
  .bodyproductpost .post-content .advantage .item_block .des,
  .bodyproductpost .post-content .feature .item_block .des {
    font-size: 12px;
  }
  .bodyproductpost .post-content .feature .item_block .subtitle,
  .bodyproductpost .post-content .feature .item_block .name {
    font-size: 14px;
  }
  .bodyproductpost .post-content .question .item_block .text,
  .bodyproductpost .post-content .prolist .item_block .item-list .text {
    font-size: 13px;
  }
}

@media screen and (max-width: 1440px) {
  .bodyproductpost .post-content .advantage .item_block .info {
    width: 302px;
  }
  .bodyproductpost .post-content .item-nav {
    line-height: 80px;
  }
  .bodyproductpost .banner .info .plane {
    @include pruductCube('.cube0', 60px);
    @include pruductCube('.cube1', 29.5px);
    @include pruductCube('.cube2', 0px);
  }
  .bodyproductpost .banner .info .icon2:hover .plane {
    .cube1 {
      $side1: 60px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
    .cube2 {
      $side1: 29.5px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
  }
  .bodyproductpost .banner .info .item_info {
    margin-left: 10px;
  }
  .case .container_content {
    transform: translateY(calc(-50% - 124px));
  }
  #header .dropDown .options {
    left: -50%;
  }
  .contact .contact_link .item-link {
    padding-left: vw(100px);
  }
  .top-slider .info .title svg {
    width: 160px;
    height: 60px;
  }
  .top-slider .info .subtitle {
    font-size: 36px;
    line-height: 46px;
  }
  .top-slider .try_wrapper {
    margin-top: 40px;
    font-size: 0;
  }
  .top-slider .try_wrapper .input_text {
    width: 300px;
    font-size: 13px;
    &::placeholder {
      font-size: 13px;
    }
  }
  .top-slider .try_wrapper .try_btn {
    font-size: 14px;
  }
  .product-icon .icon1 .cir-back,
  .product-icon .icon1 .cir-front {
    width: 90px;
    height: 90px;
    margin: -45px 0 0 -45px;
  }
  .product-icon .icon1 .icon {
    font-size: 30px;
  }
  .product-icon .icon1 .cir-front {
    background-color: #03073f;
  }
  .bodyindex .module .container_header {
    padding-top: 58px;
  }
  #product .container_content {
    padding-top: vw(166px);
  }
  .project .container_content .item_block.icon1 .iconjiaoyixitongjinbi {
    font-size: 30px;
    top: 35px;
    width: 50px;
    height: 50px;
    &::after {
      width: 44px;
      height: 44px;
    }
  }
  .project .container_content .item_block.icon1 .iconjiaoyixitongfuwuqi {
    font-size: 69px;
    top: 54%;
    left: 20px;
  }
  .project .container_content .item_block .item_img {
    margin-bottom: 10px;
  }

  .bodyindex .module .item_block .more {
    width: 100px;
    font-size: 12px;
    top: 70%;
    height: 40px;
    line-height: 40px;
  }
  .project .container_content .item_block.icon1:hover .iconjiaoyixitongjinbi {
    transform: translate(0, -4px) scale(1.09);
  }
  .project .container_content .item_block.icon1:hover .iconjiaoyixitongfuwuqi {
    transform: translate(3px, -52%) scale(0.9);
  }
  .project .container_content .item_block .item_wrapper .title {
    line-height: 58px;
  }
  .project .container_content .item_block.icon2 .iconqianbaoxitong-hou {
    font-size: 90px;
  }
  .project .container_content .item_block.icon2 .iconqianbaoxitong-qian,
  .project .container_content .item_block.icon2 .iconqianbaoxitong-qianhover {
    font-size: 36px;
    top: 39px;
    left: 69px;
  }
  .project
    .container_content
    .item_block.icon2
    .iconqianbaoxitong-qianhover::after {
    top: 14px;
    left: 8px;
    width: 7px;
    height: 7px;
  }
  .project .container_content .item_block.icon3 .iconjiaoyixitongjinbi {
    width: 46px;
    height: 46px;
    font-size: 30px;
    top: 12px;
    left: 25px;
    &::after {
      width: 40px;
      height: 40px;
    }
  }
  .project .container_content .item_block.icon3 .iconliudongxingxitong {
    font-size: 86px;
    left: 0px;
    bottom: -22px;
  }
  .project .container_content .item_block.icon4 .iconbg {
    width: 52px;
    height: 76px;
    top: 19px;
    left: 0;
    transform-origin: left center;
  }
  .project .container_content .item_block.icon4 .iconjinrongyanshengpin-bak {
    font-size: 70px;
    line-height: 80px;
    transform: translate(-9px, -37%);
    transform-origin: left center;
  }
  .project .container_content .item_block.icon4 .iconjinrongyanshengpin-hou {
    font-size: 56px;
    top: 39px;
    left: 38px;
  }
  .project
    .container_content
    .item_block.icon4:hover
    .iconjinrongyanshengpin-bak {
    transform: translate(-11px, -31%) scale(1.085);
  }
  .project .container_content .item_block.icon4:hover .iconbg {
    transform: translateX(0px) scale(1.085);
  }
  .project
    .container_content
    .item_block.icon4:hover
    .iconjinrongyanshengpin-bak {
    transform: translate(-9px, -37%) scale(1.085);
  }
  .project
    .container_content
    .item_block.icon2:hover
    .iconqianbaoxitong-qianhover {
    transform: translate(0, -2px) scale(1.125);
  }
  .project .container_content .item_block.icon2:hover .iconqianbaoxitong-hou {
    transform: translate(4px, -50%) scale(0.9);
  }
  .case .item_block {
    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
  .bodyindex .module .container_header .title {
    font-size: 26px;
  }
  .service .item_block .item_img {
    padding-top: 90px;
    margin-bottom: 0;
  }
  .service .item_block .item_img img {
    height: 90px;
  }
  .service .item_block .item_wrapper {
    margin-top: 0;
  }
  .service .item_block .des {
    @include rowEllipsis(2, 28px);
  }
  .service .item_block .title {
    line-height: 60px;
  }
  .service .container_content {
    transform: translateY(calc(-38% - 134px));
  }
}

@media screen and (max-width: 1366px) {
  .bodyindex .product .icon4 .iconganggan2 {
    font-size: 30px;
    .line {
      transform: scaleY(0.8);
    }
  }
  .bodyindex .product .icon4 .line {
    transform: scaleY(0.8);
  }
  .bodyindex .product .icon3 .item_img .iconfont {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        font-size: #{($i - 1) * 26 + 36}px;
      }
    }
  }
  .bodyindex .product .icon3 .item_img .iconfont {
    font-size: 20px;
  }
  #product .container_content {
    padding-top: vw(144px);
  }
  .bodyproductpost .post-content .feature .item_block .subtitle {
    font-size: 12px;
  }
  .bodyindex .product .plane {
    @include pruductCube('.cube0', 60px);
    @include pruductCube('.cube1', 29.5px);
    @include pruductCube('.cube2', 0px);
  }
  .bodyindex .product .icon2:hover .plane {
    .cube1 {
      $side1: 80px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
    .cube2 {
      $side1: 49.5px;
      width: $side1;
      height: $side1;
      .face {
        &::before {
          transform: translateZ($side1 / 2);
        }
        &::after {
          transform: translateZ(-$side1 / 2);
        }
      }
    }
  }
}
